//
// your custom scss goes here
//

#google-play {
    margin-top: 180px;
}

.color-light {
    color: wheat;
}

.color-lighter {
    color: rgba(255, 245, 227, 0.742);
}

.color-light-blue {
    color: rgb(187, 231, 255);
}

#cloud-safe-container {
    margin-top: 140px;
}

#cloud-safe {
    height: 200px;
    width: auto;
}
